<div class="ui top attached segment">
    <div class="ui two column grid">
        <div class="column">
            <h1 class="ui header">{{ header }}</h1>
        </div>
    </div>
</div>

<div class="ui attached segment">
    <div class="ui form">
        <div class="field">
            <div class="ui basic segment">
                <div class="ui inverted dimmer" id="dimmer">
                    <div class="ui huge loader"></div>
                </div>
                <textarea class="code" rows="25" id="file-content" readonly
                          autofocus>{{ file }}</textarea>
            </div>
        </div>
    </div>
</div>