<div class="ui top attached segment">
    <div class="ui two column grid">

        <div class="column">
            <h1 class="ui header">{{ name }}</h1>
        </div>

        <div class="column">
            <button class="ui right floated labeled icon button" onclick="update_config('{{ name }}')" tabindex="0">
                <i class="play icon"></i>
                Apply
            </button>
        </div>

    </div>
</div>

<div class="ui attached segment">
    <div class="ui form">

        <div class="field">

            <div class="ui basic segment">
                <div class="ui inverted dimmer" id="dimmer">
                    <div class="ui huge loader"></div>
                </div>
                <textarea class="code" rows="25" id="file-content" autofocus>{{ file }}</textarea>
            </div>

        </div>

    </div>
</div>