<div class="column">
    <script>
        $(document).ready(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>

    <button class="ui primary button">
        Save
    </button>
    <table class="ui celled table">
        <thead>
        <tr>
            <th class="three wide">ServiceName</th>
            <th class="six wide">Endpoint</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.service_name }}</td>
                <td>
                    <label>
                        <select class="ui fluid dropdown" onselect="">
                            <option value="">Default</option>
                            {% for instance in service.instances %}
{#                                <div class="item"#}
{#                                     data-value="{{ instance['endpoint'] }}">{{ instance['instance_id'] }}</div>#}
                                <option value="{{ instance['endpoint'] }}">
                                    {{ instance['instance_id'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {#    <div class="ui cards" id="domain_cards">#}
    {#        {% if sites_available %}#}
    {#            {% for domain in sites_available %}#}
    {#                <div class="card">#}
    {#                    <div class="content">#}
    {#                        <a class="header"#}
    {#                           onclick="fetch_domain('{{ domain['name'] }}')">#}
    {#                            {% if domain['name'] in sites_enabled %}#}
    {#                                <i class="big circle right floated green icon"></i>#}
    {#                            {% else %}#}
    {#                                <i class="big circle right floated outline grey icon"></i>#}
    {#                            {% endif %}#}
    {#                            {{ domain['name'] }}#}
    {#                        </a>#}
    {#                        <div class="meta">#}
    {#                            Updated {{ moment(domain['time']).fromNow() }}#}
    {#                        </div>#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#            <script>flask_moment_render_all();</script>#}
    {#        {% endif %}#}
    {#    </div>#}

    <div id="domain">
        <!-- file content -->
    </div>

</div>