<div class="column">

    <div class="ui cards" id="domain_cards">
        {% if sites_available %}
        {% for domain in sites_available %}
        <div class="card">
            <div class="content">

                <a class="header" onclick="fetch_domain('{{ domain['name'] }}')">
                    {% if domain['name'] in sites_enabled %}
                    <i class="big circle right floated green icon"></i>
                    {% else %}
                    <i class="big circle right floated outline grey icon"></i>
                    {% endif %}
                    {{ domain['name'] }}
                </a>

                <div class="meta">
                    Updated {{ moment(domain['time']).fromNow() }}
                </div>

            </div>
        </div>
        {% endfor %}
        <script>flask_moment_render_all();</script>
        {% endif %}
    </div>

    <div id="domain">
        <!-- file content -->
    </div>

</div>