<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Nginx UI</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <script
          src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
          integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs="
          crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
    </head>
    <body>
        <p>Test</p>
    </body>
</html>
